[user]
	name = Andrey Leshenko
	email = andrey.leshenko@gmail.com
[alias]
	s = status
	a = add -A
	ai = add -i
	c = commit
	d = diff
	dc = diff --cached
	pom = push origin master
	l = log --graph --decorate --relative-date
	logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	logap = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
